[safe]
	directory = *
[push]
	default = simple
[alias]
	up = pull --rebase --autostash
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = /usr/bin/gp credential-helper
[user]
	name = Jason Evans
	email = jevans@degdigital.com
